<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
   
    <div>
      <label for="fueltype">Fuel Type</label>
    </div>
    <mat-form-field>
      <mat-select placeholder="Fuel Type">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="example-container">
    
      <section class="here">
        <mat-checkbox class="here" [(ngModel)]="disabled2">Here</mat-checkbox>
      </section>
      <div>
      <mat-form-field>
        <input matInput placeholder="Location" required [disabled]="disabled2">
      </mat-form-field>
      </div>

      <div>
        <label for="maxdistance">Max Distance</label>
      </div>
      <div>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="1"
          max="100"
          value="10"></mat-slider>
      </div>

      <div>
        <label for="maxprice">Max Price</label>
      </div>
      <div>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="0"
          max="2"
          step="0.01"
          value="2"></mat-slider>
      </div>


      <section class="today">
        <mat-checkbox class="today" [(ngModel)]="disabled">Today</mat-checkbox>
      </section>

      <div>
        <label for="date">Date From</label>
      </div>
      <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Choose start date"  [disabled]="disabled">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      </div>

      <div>
        <label for="date">Date To</label>
      </div>
      <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Choose end date" [disabled]="disabled">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      </div>

    </div>
    


  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">****<mat-icon svgIcon="home"></mat-icon>
    </button></p>
    <app-shops-list></app-shops-list>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  </mat-sidenav-content>
</mat-sidenav-container>