<div class="container">
  <div class="row">
      <div class="col-70">
          <mat-form-field [formGroup]="addShopForm" class="fullin" >
              <input type="text"  formControlName="name" matInput placeholder="Όνομα Καταστήματος" [value]="">
            </mat-form-field>
      </div>
      <div class="col-30">
          <mat-form-field [formGroup]="addShopForm" class="fullin">
              <mat-select formControlName="tags" matInput placeholder="Αλυσίδα" [value]="">
                <mat-option *ngFor="let alysida of alysides" [value]="alysida.value">
                  {{alysida.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="fullin">
          <mat-form-field [formGroup]="addShopForm" class="fullin">
            <input type="text"  formControlName="address" matInput placeholder="Διεύθυνση" [value]="">
          </mat-form-field>
        </div>
  </div>

  <div class="row">
      <div class="col-70">
          <mat-form-field [formGroup]="addShopForm" class="fullin">
              <input type="text"  formControlName="city" matInput placeholder="Πόλη" [value]="">
            </mat-form-field>
      </div>
      <div class="col-30">
          <mat-form-field [formGroup]="addShopForm" class="fullin">
              <input type="text"  formControlName="tk" matInput placeholder="Τ.Κ." [value]="">
            </mat-form-field>
      </div>
  </div>
  
<button mat-raised-button class="button" (click)="addShopAttempt()">Αποθήκευση</button>
</div>