<h1>User SignUp</h1>
<form [formGroup]="signUpForm" (ngSubmit)="validateAndSend()" >
  <label>Username: </label><input type="text" formControlName="username"><br>
  <label>Email: </label><input type="text" formControlName="mail">
  <label>Location: </label><input type="text" formControlName="location">
  <label>Password: </label><input type="password" formControlName="pass1"><br>
  <label>Validate Password: </label><input type="password" formControlName="pass2"><br>
  <button type="submit">SignUp</button>
</form>

<div *ngIf="isOk">
  <h1>Correct sign up!</h1>
</div>