<div class="topnav" id="myTopnav">
  
  <a *ngIf="!isConnected">
      <a class="tile" class="logo">
          <img routerLink="" src="src/app/images/logo.png" alt="Smartgas">
      </a>
      <a class="menu">
        <a class="tile" >
          <button routerLink="shops" mat-button>
            Βενζινάδικα
          </button>
        </a>

        <a class="tile" >
            <button mat-button (click)="openLogin()">
              Log in
            </button>
          </a>
        <a class="tile" >
            <button mat-button (click)="openRegister()">
                Register
              </button>
        </a>
        <a class="icon">
          <button mat-button (click)="myFunction()">
              **
          </button>
        </a>
      </a>
      
  </a> 

  <a *ngIf="isConnected">

    <a class="tile" class="logo">
        <img routerLink="" src="../../images/logo.png" alt="Smartgas" height="20px">
    </a>
    <a class="menu">
      <a class="tile" >
          <button mat-button>
            Βενζινάδικα
          </button>
      </a>
      <a class="tile" >
          <button mat-button>
              Πρόσθεσε Βενζινάδικο
          </button>
      </a>

      <a class="tile">
        <button mat-button>
            {{username}}
        </button>
      </a>
      <a class="tile">
        <button mat-button (click)="logout()">
          Log out
        </button>
      </a>
      <a class="icon">
        <button mat-button (click)="myFunction()">
          **
        </button>
      </a>
  </a>
</a>

<a *ngIf="isAdmin">
  <a class="tile" class="logo">
    <img routerLink="" src="../../images/logo.png" alt="Smartgas" height="20px">
  </a>
  <a class="menu">
      <a class="tile" >
          <button mat-button>
            Καύσιμα
          </button>
      </a>
      <a class="tile" >
          <button mat-button>
            Βενζινάδικα
          </button>
      </a>
      <a class="tile" >
          <button mat-button>
              Πρόσθεσε Βενζινάδικο
          </button>
      </a>
      <a class="tile">
        <button mat-button>
            {{username}}
        </button>
      </a>
      <a class="tile">
        <button mat-button (click)="logout()">
          Log out
        </button>
      </a>

      <button mat-button (click)="myFunction()">
        **
      </button>
    </a>
</a>
 
</div>
