.topnav {
    overflow: hidden; 
}

.topnav a .menu {
    float: right;
    display: block;  
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a .menu .tile{
    float: left;
    display: block;
    text-align: center ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a .logo {
    float: left;
    display: block;
  }

  .topnav a .logo img {
    height: 60px;
    
  }


  .active {
    color: white;
  }
  
  
 .topnav a .menu .icon {
    display: none;
  }

  @media screen and (max-width:800px) {
    .topnav a .menu .tile {display: none;}
    .topnav a .menu .icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a .menu .icon {
      float: right;
      display: block;
    }
    
    .topnav.responsive a .logo {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive a .menu .tile {
      float: none;
      display: block;
      text-align: left;
    }
  }