<div *ngIf="userInfo">
<mat-card>
  <b>Πληροφορίες Προφίλ Χρήστη {{username}}</b>
  <br />
  email: {{userInfo.mail}}
  <br />
  Αριθμός Καταχωρήσεων: {{userInfo.nposts}}
</mat-card>


<p>Ιστορικό Καταχωρήσεων</p>
<app-myhistory></app-myhistory>

<mat-accordion>


  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Αλλαγή Username
      </mat-panel-title>
      <mat-panel-description>
          
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-new-username (check)="newEntry($event)"></app-new-username>

  </mat-expansion-panel>

  <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Αλλαγή Κωδικού Πρόσβασης
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
         <app-new-password></app-new-password>
  </mat-expansion-panel>

<mat-expansion-panel *ngIf="!isAdmin">
  <mat-expansion-panel-header>
    <mat-panel-title>
       Διαγραφή Προφίλ
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>
</mat-accordion>
</div>