.conteiner {
    width : 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .conteiner > .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .col-70 {
    width: 70%;
    padding: 0 6px;
  }

  .col-30 {
    width: 30%;
    padding: 0 6px;
  }

  .map{
    
    margin-left: auto;
    margin-right: auto;
  }

  .fullin {
    width: 80%;
    padding: 0 6px;
  }

  .button {
    margin-left: auto;
    margin-right: auto;
  }
  
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col-70 {
    width: 100%;
    padding: 0 6px;
  }

  .col-30 {
    width: 100%;
    padding: 0 6px;
    
  }
  
  .col-30 .button{
    box-align: center;
  }
}


agm-map{
  height: 450px;
}
