<!--
<ng-template #content let-modal>

    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
          <form [formGroup]="registerForm" class="form-group" >
              <div class="container">
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
               
               <hr>
                <label for="email"><b>Email</b></label>
                <input type="email" class="form-control" placeholder="Enter Email" formControlName="email" required>
      
                <label for="username"><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Enter Username" formControlName="username" required>
      
                <label for="psw"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" required>
      
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" class="form-control" placeholder="Repeat Password" formControlName="pass-repeat" required>
      
                  <button type="submit" class="btn btn-primary" (click)="registerAttempt()">Register</button>
               
              </div>
            </form>     
    </div>
   
  </ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Register</button>
-->

<form [formGroup]="registerForm">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Verify Password" formControlName="pass-repeat">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field><br>
  <button mat-raised-button (click)="registerAttempt()">Register</button>
  <mat-error *ngIf="!isRegistered">{{errorMessage}}</mat-error>
  
</form>