<div class="conteiner">
    <form [formGroup]="addProduct">
    <div class="row">
        <div class="col-50">
            <mat-form-field [formGroup]="addProduct" class="fullin">
              <input type="text"  formControlName="name" matInput placeholder="Όνομα Προϊόντος">
            </mat-form-field>
          </div>
        <div class="col-50">
            <mat-form-field [formGroup]="addProduct" class="fullin">
                <input type="text"  formControlName="description" matInput placeholder="Περιγραφή Προϊόντος">
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <mat-form-field [formGroup]="addProduct" class="fullin">
              <input type="text"  formControlName="category" matInput placeholder="Κατηγορία προϊόντος">
            </mat-form-field>
          </div>
        <div class="col-50">
            <mat-form-field [formGroup]="addProduct" class="chip-list" class="fullin">
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Νέα Tags..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)"
                         formControlName="tags">
                </mat-chip-list>
              </mat-form-field>
              
        </div>
    </div>          
  
    
  <button mat-raised-button class="button" (click)="addProductAttempt()">Προσθήκη</button>
    </form>
</div>