<form [formGroup]="editProductForm">
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="data.name" placeholder="Όνομα Προϊόντος" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="data.description" placeholder="Περιγραφή" formControlName="description">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput [(ngModel)]="data.category" placeholder="Κατηγορία" formControlName="category">
    </mat-form-field>
    <button mat-raised-button [mat-dialog-close]="data">Ενημέρωση</button>
</form>