<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      
      <img  [src]="KANAVAKIS"  alt="*" height="200px" width="200px">
    </mat-grid-tile>
    <mat-grid-tile>
      <img  [src]="VASILAKIS"  alt="*" height="200px" width="200px">

    </mat-grid-tile>
    <mat-grid-tile>
      <img  [src]="ZARANIS"  alt="*" height="200px" width="200px">

    </mat-grid-tile>
    <mat-grid-tile>
      <img  [src]="KAFIRIS"  alt="*" height="500px" width="200px">

    </mat-grid-tile>
    <mat-grid-tile>
      <img  [src]="KAROUZOS"  alt="*" height="200px" width="200px">

    </mat-grid-tile>
    <mat-grid-tile>
      <img  [src]="ALEXAKIS"  alt="*" height="200px" width="200px">

    </mat-grid-tile>
  </mat-grid-list>