.footer {
    position: bottom;
    width: 100%;
    padding: 1rem;
   background-color: #007FAA;
   color: white;
   text-align: center;
}

.footer .about {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
}